$grayTube: #FDFDFD;
$primaryColor: #1971FB;
$secondaryColor: #E6E8EC;
$morningHue1: #D0CDE1;
$morningHue2: #B7B2D7;
$gradientSec: #AE71E7;
$facebookBlue: #4164BF;
$googleRed: #C34040;
$shadeBlack: #393939;
$shadeGray: #626262;
$border: #C9C8CA;
$inputBG1: #9E9E9F;
$active: #62626221;

body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: "Google Sans", sans-serif;
    position: relative;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        background-color: $secondaryColor;

        .top-bar{
            width: 100%;
            height: 50px;
            background-color: $grayTube;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;
            border-bottom: 1px rgba($color: #000000, $alpha: .2) solid;

            .topbar-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                background-color: transparent;
                align-items: center;
                .topbar-content-wrapper{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    .logo{
                        width: 80px;
                        position: absolute;
                        left: 15px;
                    }
                    .title{
                        font-size: 19px;
                        color: $primaryColor;
                        font-weight: 400;
                    }
                    .friends-wrapper{
                        width: 40px;
                        height: 80%;
                        position: absolute;
                        right: calc(10px + 40px + 5px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;

                        path{
                            fill: $primaryColor;
                        }
                        .alert{
                            position: absolute;
                            bottom: 10%;
                            left: 10%;
                            width: 13px;
                            height: 13px;
                            border-radius: 100px;
                            border: 2px $grayTube solid;
                            background-color: $googleRed;
                        }
                    }
                    .noti-wrapper{
                        width: 40px;
                        height: 80%;
                        position: absolute;
                        right: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;

                        path{
                            fill: $primaryColor;
                        }
                        .alert{
                            position: absolute;
                            bottom: 10%;
                            left: 10%;
                            width: 13px;
                            height: 13px;
                            border-radius: 100px;
                            border: 2px $grayTube solid;
                            background-color: $googleRed;
                        }
                    }  
                }              

            }
        }
        .page-container{
            width: 100%;
            height: calc(100vh - 50px - 50px);
            background-color: $secondaryColor;

            .home{
                background-color: transparent;
                width: 100%;
                height: 100%;
                top: 0%;
                overflow: hidden;
                overflow-y: scroll;
                position: relative;
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    display: none;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 5px;

                .share-post-wrapper{
                    width: 100%;
                    height:50px;
                    background-color: $grayTube;
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .s-wrapper{
                        width: 95%;
                        height:50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        column-gap: 5px;

                        .prof-img{
                            width: 40px;
                            border-radius: 100px;
                            height: 40px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // position: absolute;
                            left: 10px;
                            img{
                                width: 100%;
                            }
                        }
                        .post-input-container{
                            height: 40px;
                            flex-grow: 1;
                            position: relative;
                            border-radius: 100px;
                            display: flex;
                            align-items: center;
                            border: 1px $border solid;
                            transition: 0.4s ease;
    
                            span{
                                position: absolute;
                                left: 10px;
                                color: $inputBG1;
                                font-weight: 400;
                                font-size: 15px;
                            }
    
                            &:active{
                                background-color: #62626228;
                            }
                        }
                    }
                  
                }
                .friend-sugg-wrapper{
                    width: 100%;
                    height: 140px;
                    background-color: $grayTube;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .top-tile{
                        width: 95%;
                        height: 35px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        
                        .tt-text{
                            font-size: 16px;
                            color: $shadeBlack;
                            font-weight: 400;
                        }
                        .tt-btn{
                            padding: 3px;
                            border-radius: 100px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-self: center;
                            column-gap: 5px;
                            transition: 0.3s ease;

                            span{
                                color: $primaryColor;
                            }
                            &:active{
                            background-color: #62626221;
                            }
                        }
                    }
                    .bottom-tile{
                        width: 100%;
                        height: calc(140px - 30px);
                        background-color: $grayTube;
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        overflow: hidden;
                        overflow-x: auto;
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        scrollbar-width: none;

                        .sug{
                            width: 85px;
                            height: 85px;
                            border-radius: 100px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 5px;
                            margin-right: 5px;
                            img{
                                width: 100%;
                            }
                        }
                    }

                }
                .post-container{
                    width: 100%;
                    display: flex;
                    row-gap: 10px;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 5px;
                    background-color: $gradientSec;

                    .post-card{
                        width: 100%;
                        margin-left: 5px;
                        margin-right: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        align-items: center;
                        background-color: $border;
                        // overflow: hidden;

                        .post-header{
                            width: 100%;
                            height: 45px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            background-color: $grayTube;
                            
                            .profile-wrapper{
                                width: 95%;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                column-gap: 5px;

                                .profile-ico{
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100px;
                                    overflow: hidden;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    img{
                                        width: 100%;
                                    }
                                }
                                .header-content{
                                    height: 40px;
                                    font-weight: 400;
                                    display: flex;
                                    flex-grow: 1;
                                    flex-direction: column;
                                    .name{
                                        font-weight: 450;
                                        font-size: 16px;
                                        color: $shadeBlack;
                                        transition: 0.3s ease;
                                        border-radius: 2px;
                                        &:active{
                                            background-color: #62626221;
                                        }
                                    }
                                    .time{
                                        font-size: 13px;
                                        font-weight: 400;
                                        color:$shadeGray;
                                    }
                                }
                                .option-toggle{
                                    width: 35px;
                                    height: 35px;
                                    // position: absolute;
                                    // right: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 4px;
                                    transition: 0.3s ease;
                                    &:active{
                                        background-color: #62626221;
                                    }
    
                                    img{
                                        width: 20px;
                                    }
                                }
                            }
                        }
                        .post-content{
                            width: 100%;
                            background-color: $grayTube;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .post-content-wrapper{
                                width: 95%;
                                padding-bottom: 5px;

                                .post-title{
                                    font-weight: 600;
                                    color: $shadeBlack;
                                    font-size: 16px;
                                }
                                .more{
                                    color: $primaryColor;
                                    font-weight: 500;
                                    transition: 0.3s ease;

                                    &:active{
                                        color: #0060fb;
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .img-frame{
                                width: 100%;
                                background-color: $shadeBlack;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                
                                img{
                                    width: 100%;
                                }
                                .heart-pop{
                                    width: 80px;
                                    height: 80px;
                                    position: absolute;
                                    display: none;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    svg{
                                        width: 100%;
                                    }
                                }
                                .liked{
                                    display: flex;
                                    animation: 2s like-heart-animation ease-in-out infinite;
                                }
                            }
                        }
                        .post-footer{
                            width: 100%;
                            border-bottom: 1px $border solid;
                            background-color: $grayTube;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .top-footer{
                                width: 100%;
                                height: calc(80px - 50px);
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                position: relative;
                                overflow: hidden;
                                background-color: $grayTube;
                                align-items: center;
                                padding-left: 10px;
                                column-gap: 5px;
                                color: $shadeGray;
                                border-bottom: 1px $border solid;

                                span{
                                    color: $shadeGray;
                                    font-size: 15px;
                                    font-weight: 400;
                                }

                            }
                            .collect{
                                width: 100%;
                                height: 35px;
                                background-color: #f1f1f1de;
                                position: absolute;
                                top: calc(-35px);
                                display: none;
                                justify-content: space-between;
                                align-items: center;
                                z-index: 1;

                                .saved{
                                    height: 100%;
                                    position: absolute;
                                    left: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-weight: 300;
                                }
                                .view{
                                    position: absolute;
                                    right: 10px;
                                    text-decoration: none;
                                    font-weight: 400;
                                }
                            }
                            .collected{
                                display: flex;
                                animation: fade-in-up 1s ease forwards;
                            }
                            .bottom-footer{
                                width: 100%;
                                position: relative;
                                display: flex;
                                justify-content: left;
                                align-items: center;
                                flex-direction: row;
                                overflow: hidden;

                                .action-container{
                                    height: 100%;
                                    display: flex;
                                    padding: 10px;
                                    flex-direction: row;
                                    column-gap: 5px;
                                    justify-content: center;
                                    align-items: center;
                                    transition: 0.3s ease;
                                    overflow: hidden;
                                    
                                    &:active{
                                        background-color: #c9c8ca6c;
                                    }
                                    span{
                                        color: $shadeGray;
                                        font-weight: 400;
                                        font-size: 15px;
                                    }
                                    .on-like{
                                        animation: like-icon-animation 1s ease-out forwards;
                                    }
                                }
                                .collect-btn{
                                    position: absolute !important;
                                    right: 10px;
                                }
                            }
                        }
                    }
                    .eoc{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        row-gap: 10px;
    
                        img{
                            width: 20%;
                        }
                        .bottom-label{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
    
                            span{
                                position: absolute;
                                color: $shadeGray;
                                font-weight: 400;
                                background-color: $secondaryColor;
                                padding: 3px;
                                font-size: 14px;
                            }
                            hr{
                                width: 200px;
                                border-color: $border;
                            }
                        }
                    }
                }
                
                .menu{
                    width: 100vw;
                    height: 100vh;
                    bottom: 0%;
                    background-color: #0000007e;
                    position: absolute;
                    z-index: 99;
                    transition: background 0.4s ease-out;

                    .menu-container{
                        width: 100%;
                        // height: 30px;
                        background-color: $grayTube;
                        position: absolute;
                        bottom: 0%;
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0px 5px 0px;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        row-gap: 5px;
                        animation: in-up 0.5s ease-out forwards;
                        border-radius: 20px 20px 0px 0px;

                        .bubble-container{
                            width: 100%;
                            height: 95px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px $border solid;
                            flex-direction: row;
                            column-gap: 5px;

                            .bubble{
                                width: 90px;
                                height: 90px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                row-gap: 5px;
                                .b-icon{
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 100px;
                                    border: 1px $shadeBlack solid;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .label{
                                    width: 100%;
                                    font-weight: 400;
                                    display: flex;
                                    font-size: 16px;
                                    justify-content: center;
                                    align-items: center;
                                    color: $shadeBlack;
                                }
                            }
                            .red{
                                .b-icon{
                                    border: 1px $googleRed solid;
                                }
                                .label{
                                    width: 100%;
                                    color: $googleRed;
                                }
                            }
                        }
                        .options-container{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            .option{
                                width: 100%;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                overflow: hidden;
                                padding-left: 20px;

                                span{
                                    font-size: 400;
                                    font-size: 15px;
                                    color: $shadeBlack;
                                }
                            }
                        }
                    }
                }
                .post-menu{
                    width: 100%;
                    height: 100vh;
                    bottom: 0%;
                    background-color: #cc3c3c7e;
                    position: absolute;
                    z-index: 99;
                    transition: background 0.4s ease-out;

                    .post-menu-container{
                        width: 100%;
                        // height: 30px;
                        background-color: $grayTube;
                        position: absolute;
                        bottom: 0%;
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0px 5px 0px;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        row-gap: 5px;
                        border-radius: 20px 20px 0px 0px;
                        animation: in-up 0.5s ease-out forwards;

                        

                        .post-bubble-container{
                            width: 100%;
                            height: 95px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px $border solid;
                            flex-direction: row;
                            column-gap: 5px;

                            .post-bubble{
                                width: 90px;
                                height: 90px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                row-gap: 5px;
                                .b-icon{
                                    width: 60px;
                                    height: 60px;
                                    border-radius: 100px;
                                    display: flex;
                                    background-color: $primaryColor;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .label{
                                    width: 100%;
                                    font-weight: 400;
                                    display: flex;
                                    font-size: 16px;
                                    justify-content: center;
                                    align-items: center;
                                    color: $shadeBlack;
                                }
                            }
                            .red{
                                .b-icon{
                                    border: 1px $googleRed solid;
                                }
                                .label{
                                    width: 100%;
                                    color: $googleRed;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-bar{
            width: 100%;
            height: 50px;
            background-color: $grayTube;
            display: flex;
            justify-content: center;
            align-content: center;
            // border-radius: 20px 20px 0px 0px;    
            z-index: 9;
            border: 1px rgba($color: #000000, $alpha: .1) solid; 
            // box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .4);
            
            .navbar-center{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                column-gap: 5px;
                position: relative;

                .navbar-item{
                    width: 110px;
                    height: 85%;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 17px;
                    border-radius: 4px;
                    transition: 0.3s ease-in;
                    outline: none;
                    position: relative;

                    .fas{
                        font-size: 30px;
                        transition: 0.3s ease-in;
                        &:active{
                            color: $primaryColor;
                        }
                    }
                    &:nth-of-type(5){
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .user-profile{
                            width: 25px;
                            height: 25px;
                            border: 2px $primaryColor solid;
                            border-radius: 100px;
                            overflow: hidden;
    
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .chat-alert{
                        position: absolute;
                        background-color: $primaryColor;
                        color: $grayTube;
                        font-weight: 300;
                        padding: 5px;
                        bottom: 5%;
                        right: 15%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 15px;
                        font-size: 15px;
                        border-radius: 100px;
                    }
                }
                .active{
                    color: $primaryColor;
                    transition: 0.3s ease-in;
                    .fas{
                        font-size: 25px;
                        color: $primaryColor;
                        &:active{
                            color: rgb(93, 24, 158);
                        }
                    }
                }
                .plus{
                    position: absolute;
                    z-index: 1;
                    width: 50px;
                    height: 50px;
                    border-radius: 100px;
                    background-color: $grayTube;
                    bottom: calc(50px + 10px);
                    right: calc(10px);
                    box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: .25);
                    .fas{
                        color: #fff;
                        transition: 0.2s ease-in;
                    }
                }
            }
        }
    }
}