$grayTube: #FDFDFD;
$primaryColor: #8A2BE2;
$secondaryColor: #FF9900;
$morningHue1: #D0CDE1;
$morningHue2: #B7B2D7;
$gradientSec: #AE71E7;
$facebookBlue: #4164BF;
$googleRed: #4164BF;
$shadeBlack: #393939;
$shadeGray: #626262;
$border: #F1F1F1;

body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    font-family: "Google Sans", sans-serif;
    position: relative;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        background-color: $grayTube;

        .top-bar{
            width: 100%;
            height: 50px;
            background-color: $grayTube;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;
            border-bottom: 1px rgba($color: #000000, $alpha: .2) solid;

            .topbar-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                background-color: transparent;
                align-items: center;
                .topbar-content-wrapper{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .logo{
                        width: 90px;
                    }
                    .title{
                        font-size: 19px;
                        color: $primaryColor;
                        font-weight: 400;
                    }
                    .noti-wrapper{
                        width: 50px;
                        height: 80%;
                        position: absolute;
                        right: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        background-color: #3939392a;                        
                    }  
                }              

            }
        }
        .page-container{
            width: 100%;
            height: calc(100vh - 50px - 60px);
            background-color: #fff;

            .home{
                background-color: transparent;
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll;
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    display: none;
                }
                display: flex;
                flex-direction: column;
                align-items: center;

                .post-container{
                    width: 100%;
                    display: flex;
                    row-gap: 10px;
                    margin-top: 5px;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 5px;

                    .post-card{
                        width: 100%;
                        margin-left: 5px;
                        margin-right: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        align-items: center;

                        .post-header{
                            width: 100%;
                            height: 45px;
                            display: flex;
                            flex-direction: row;
                            justify-items: center;
                            align-items: center;
                            position: relative;
                            background-color: $grayTube;
                            
                            .profile-wrapper{
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;

                                .profile-ico{
                                    width: 35px;
                                    border-radius: 100px;
                                    position: absolute;
                                    left: 10px;
                                    height: 35px;
                                    border: 2px $primaryColor solid;
                                    background-color: $morningHue2;
                                    overflow: hidden;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    img{
                                        width: 100%;
                                    }
                                }
                                .user-name{
                                    position: absolute;
                                    left: calc(10px + 35px + 10px);
                                    font-weight: 400;
                                    font-size: 17px;
                                    color: $shadeBlack;
                                }
                            }
                            .option-toggle{
                                width: 35px;
                                height: 35px;
                                position: absolute;
                                right: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 100px;

                                img{
                                    width: 21px;
                                }
                            }

                        }
                        .post-content{
                            width: 100%;
                            height: 180px;

                            .img-frame{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                
                                img{
                                    width: 100%;
                                }
                                .heart-pop{
                                    width: 80px;
                                    height: 80px;
                                    position: absolute;
                                    display: none;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    svg{
                                        width: 100%;
                                    }
                                }
                                .liked{
                                    display: flex;
                                    animation: 2s like-heart-animation ease-in-out infinite;
                                }

                                @keyframes like-heart-animation {
                                    0%,
                                    to {
                                      opacity: 0;
                                      -webkit-transform: scale(0);
                                      transform: scale(0);
                                    }
                                    15% {
                                      opacity: 0.9;
                                      -webkit-transform: scale(1.2);
                                      transform: scale(1.2);
                                    }
                                    30% {
                                      -webkit-transform: scale(0.95);
                                      transform: scale(0.95);
                                    }
                                    45%,
                                    80% {
                                      opacity: 0.9;
                                      -webkit-transform: scale(1);
                                      transform: scale(1);
                                    }
                                  }
                            }
                        }
                        .post-footer{
                            width: 100%;
                            border-bottom: 1px $border solid;
                            background-color: $grayTube;

                            .top-footer{
                                width: 100%;
                                height: calc(80px - 40px);
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                position: relative;

                                .action-box{
                                    position: absolute;
                                    height: 100%;
                                    left: 10px;
                                    column-gap: 15px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    .like-box{
                                        display: flex;
                                        align-items: center;
                                        flex-direction: row;
                                        column-gap: 5px;

                                        .like-counts{
                                            color: $shadeBlack;
                                            font-weight: 300;
                                        }
                                    }
                                }
                                .comment-toggle{
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;
                                    column-gap: 5px;
                                    position: absolute;
                                    right: 10px;
                                    justify-content: center;
                                    align-items: center;

                                    .comment-counts{
                                        font-weight: 300;
                                        color: $shadeBlack;
                                    }
                                }
                            
                            }
                            .bottom-footer{
                                width: 100%;
                                height: calc(80px - 40px + 10px);
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .comment-wrapper{
                                    width: 90%;
                                    position: absolute;
                                    left: 10px;

                                    .comment{
                                        width: 100%;
                                        word-wrap: break-word;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-bar{
            width: 100%;
            height: 60px;
            background-color: rgb(241, 241, 241);
            display: flex;
            justify-content: center;
            align-content: center;
            border-radius: 20px 20px 0px 0px;
            z-index: 9;
            border: 1px rgba($color: #000000, $alpha: .1) solid; 
            // box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .4);
            
            .navbar-center{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                column-gap: 5px;
                position: relative;

                .navbar-item{
                    width: 110px;
                    height: 85%;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 17px;
                    border-radius: 4px;
                    transition: 0.3s ease-in;
                    outline: none;

                    .fas{
                        font-size: 25px;
                        color: rgb(137, 43, 226);
                        transition: 0.3s ease-in;
                        &:active{
                            color: rgb(93, 24, 158);
                        }
                    }
                    &:nth-of-type(6){
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .user-profile{
                            width: 35px;
                            height: 35px;
                            border: 2px $primaryColor solid;
                            border-radius: 100px;
                            overflow: hidden;
    
                            img{
                                width: 100%;
                            }
                        }
                    }
                    
                }
                .active{
                    color: $primaryColor;
                    transition: 0.3s ease-in;
                    .fas{
                        font-size: 25px;
                        color: $primaryColor;
                        &:active{
                            color: rgb(93, 24, 158);
                        }
                    }
                }
                .plus{
                    position: absolute;
                    z-index: 1;
                    width: 50px;
                    height: 50px;
                    border-radius: 100px;
                    background-color: $primaryColor;
                    bottom: calc(50px / 2);
                    border: 2px rgba(255, 255, 255, 0.15) solid;
            
                    .fas{
                        color: #fff;
                        transition: 1s ease-in;
                    }
                }
                .empty{
                    width: 60px;
                }
            }
        }
    }
}