body {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: aliceblue;
}

body .wrapper .top-bar {
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

body .wrapper .top-bar .topbar-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .top-bar .topbar-container .title {
  font-size: 20px;
  color: blueviolet;
  font-weight: 600;
}

body .wrapper .page-container {
  width: 100%;
  height: calc(100vh - 50px - 60px);
  background-color: #fff;
}

body .wrapper .page-container .home {
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .page-container .home::-webkit-scrollbar {
  display: none;
}

body .wrapper .page-container .home .latest-post {
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .page-container .home .latest-post .label {
  width: 95%;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

body .wrapper .page-container .home .latest-post .contents {
  width: 100%;
  height: calc(250px - 40px);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

body .wrapper .page-container .home .latest-post .contents::-webkit-scrollbar {
  display: none;
}

body .wrapper .page-container .home .latest-post .contents .post-card {
  width: 85vw;
  height: 95%;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-style: solid;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame {
  width: 100%;
  height: calc(100% - 60px);
  background-color: chartreuse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame img {
  width: 100%;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont {
  width: 60px;
  height: 98%;
  border-radius: 8px;
  background-color: rgba(241, 241, 241, 0.87);
  position: absolute;
  right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont .view-ico {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont .view-ico .fas {
  font-size: 20px;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont .like-btn {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px rgba(255, 255, 255, 0.308) solid;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont .like-btn .far {
  font-size: 20px;
}

body .wrapper .page-container .home .latest-post .contents .post-card .image-frame .interaction-cont .counts {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box {
  width: 100%;
  height: 60px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .profile-bubble {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 10px;
  border-radius: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
  border: 2px blueviolet solid;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .profile-bubble img {
  width: 100%;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .caption-container {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(10px + 45px + 15px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .caption-container .caption-header {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .caption-container .caption-header .i {
  font-weight: 400;
  font-size: 14px;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .btn-container {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 10px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

body .wrapper .page-container .home .latest-post .contents .post-card .caption-box .btn-container .fas {
  font-size: 18px;
  color: blueviolet;
}

body .wrapper .page-container .home .trending {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .page-container .home .trending .label {
  width: 95%;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

body .wrapper .page-container .home .trending .contents {
  width: 100%;
  height: calc(160px - 40px);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .wrapper .page-container .home .trending .contents::-webkit-scrollbar {
  display: none;
}

body .wrapper .page-container .home .trending .contents .trend-bubble {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0px 5px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px blueviolet dotted;
}

body .wrapper .page-container .home .trending .contents .trend-bubble img {
  width: auto;
}

body .wrapper .page-container .home .post-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

body .wrapper .page-container .home .post-container .post-card {
  width: 95%;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: steelblue;
}

body .wrapper .nav-bar {
  width: 100%;
  height: 60px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px 20px 0px 0px;
  z-index: 9;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

body .wrapper .nav-bar .navbar-center {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  position: relative;
}

body .wrapper .nav-bar .navbar-center .navbar-item {
  width: 110px;
  height: 85%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  outline: none;
}

body .wrapper .nav-bar .navbar-center .navbar-item .fas {
  font-size: 25px;
  color: #892be2;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

body .wrapper .nav-bar .navbar-center .navbar-item .fas:active {
  color: #5d189e;
}

body .wrapper .nav-bar .navbar-center .active {
  color: blueviolet;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

body .wrapper .nav-bar .navbar-center .active .fas {
  font-size: 25px;
  color: blueviolet;
}

body .wrapper .nav-bar .navbar-center .active .fas:active {
  color: #5d189e;
}

body .wrapper .nav-bar .navbar-center .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: blueviolet;
  bottom: calc(50px / 2);
  border: 2px rgba(255, 255, 255, 0.15) solid;
}

body .wrapper .nav-bar .navbar-center .plus .fas {
  color: #fff;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

body .wrapper .nav-bar .navbar-center .empty {
  width: 40px;
}
/*# sourceMappingURL=index.css.map */